<div class="homeBanner">
  <div class="titleBox">
    <div class="textContainer">
      <h1 class="homeTitle">M LIKE MARKET</h1>
      <div class="buttonHomepage mt-4">
        <p><%= t('.bannerBtn') %></p>
      </div>
      <img class="arrowdownicon" src="<%= asset_url('arrowdown.svg') %>" alt="">
    </div>
  </div>
  <div class="homePicture">
    <img src="<%= asset_url('homebanner.jpg') %>" alt="">
  </div>
</div>
