<div class="favProductCard" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.31), rgba(0,0,0,0.31)), url(<%= cl_image_path product.photos[0].key %>)">
  <h1 class="productTitle"><%= product.name %></h1>
</div>
