<div class="introDiv">
  <h2 class="header">Online Store</h2>
  <p class="introText">Looking for THAT something special? Made in Munich? Then you have come to the right place! This is your Bloomingdale´s of Munich. Here you will find high quality, fair priced products from local professionals. Come and browse our range, check out our new additions, and learn more about what's in store!</p>
  <div class="introButton">
    <p>Go to Store!</p>
  </div>
</div>
