<div class="sideNav left product">
  <%= link_to root_path do %>
    <div class="utilityBtn">
      <img src="<%= asset_url('back.svg') %>" alt="" class="label icon-logo">
    </div>
  <% end %>
</div>
