<div class="sideNav right product">
  <!-- shopping cart -->
  <%= link_to '#' do %>
    <div class="utilityBtn">
      <img class="label icon-logo" src="<%= asset_url('bag.svg') %>" alt="">
    </div>
  <% end %>
  <!-- profile -->
  <%= link_to '#' do %>
    <div class="utilityBtn last">
      <img class="label icon-logo" src="<%= asset_url('user.svg') %>" alt="">
    </div>
  <% end %>
</div>
