.productContainer{
  max-width: 1365px;
  margin: 0 auto;
  .nav-path{
    display: flex;
    align-items: center;
    margin: 35px 0;
    a, p{
      font-size: 20px;
      color: $dark-gray;
      font-family: $mont;
    }
    p{
      margin: 0 5px;
    }
  }
  .thumbnail-carousel{
    .thumbnails{
      display: flex;
      flex-direction: column;
      margin: 35px 0;
      margin-left: 150px;
      .thumbnail{
        margin: 5px 0;
        height: 100px;
        width: 85px;
        object-fit: center;
        object-size: cover;
      }
    }
  }
}
