.productContainer{
  max-width: 1365px;
  margin: 0 auto;
  .nav-path{
    display: flex;
    align-items: center;
    margin: 35px 0;
    a, p{
      font-size: 20px;
      color: $dark-gray;
      font-family: $mont;
    }
    p{
      margin: 0 5px;
    }
  }
}
