.productContainer{
  max-width: 1365px;
  margin: 0 auto;
  .nav-path{
    display: flex;
    align-items: center;
    margin: 35px 0;
    a, p{
      font-size: 20px;
      color: $dark-gray;
      font-family: $mont;
    }
    p{
      margin: 0 5px;
    }
  }
  .productInfo-container{
    margin: 25px 0;
    a{
      &:hover{
        text-decoration: none;
      }
    }
    .product-title, .product-price, .description-title{
      font-family: $mont;
      color: $dark-gray;
      font-size: 30px;
      font-weight: 400;
    }
    .product-price{
      color: black;
      margin-top: 40px;
    }
    .utilityBtn{
      margin: 25px 0;
    }
    .description-title{
      font-size: 23px;
      margin-bottom: 25px;
    }
    .description{
      color: black;
      font-size: 19px;
      font-family: $mont;
    }
  }
}

