<div class="aboutContainer">
  <div class="title">
    <h1>About Us</h1>
  </div>
  <div class="text">
    <p>
      We are two besties who spend most of our lockdown time on the phone to each other.
      While discussing (and solving) things like world peace and climate change we also realised that we have so many talented friends,
      creating and producing amazing things in their respective corner.
      Like us the problem is always how to show to the world...et voila the idea of M Like Market was born!
    </p>
    <br>
    <p>
      M Like Market is a platform for all of our Munich friends who are too small a business to invest in huge distribution channels.
      We are one single market where you can find many amazing and very different products.
      And our market is growing daily!
    </p>
    <br>
    <p>Enjoy the harvest!</p>
    <p>Busserl, Christine & Christina</p>
  </div>
  <%= link_to root_path do %>
    <div class="backButton">
      <p>Back</p>
    </div>
  <% end %>
</div>
<img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1601645498/Christine%20Und%20Christina/IMG_2582_fbpqqa.jpg" alt="" class="decoPolaroid first left">
<img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1601645498/Christine%20Und%20Christina/IMG_2584_u7q3he.jpg" alt="" class="decoPolaroid second left">
<img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1601645498/Christine%20Und%20Christina/IMG_2585_uzhwvj.jpg" alt="" class="decoPolaroid third left">
<img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1601645499/Christine%20Und%20Christina/IMG_2591_t2ya8v.jpg" alt="" class="decoPolaroid fourth left">
<img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1601645498/Christine%20Und%20Christina/IMG_2581_f90lqp.jpg" alt="" class="decoPolaroid first right">
<img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1601645498/Christine%20Und%20Christina/IMG_2583_obt1kk.jpg" alt="" class="decoPolaroid second right">
<img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1601645498/Christine%20Und%20Christina/IMG_2587_olypc0.jpg" alt="" class="decoPolaroid third right">
<img src="https://res.cloudinary.com/bjarnehinkel/image/upload/v1601645499/Christine%20Und%20Christina/IMG_2589_ovfvc4.jpg" alt="" class="decoPolaroid fourth right">
