<%= render 'components/banner' %>
<div class="container">
  <%= render 'components/introDiv' %>
</div>
<hr>
<div class="virtualBotiques">
  <div class="container">
    <h2>Welcome to our Virtual Botiques</h2>
  </div>
</div>
