.virtualBotiques{
  overflow: hidden;
  .container{
    margin-left: 50px;
  }
  .cardContainer{
    margin-left: 50px;
    margin-right: 50px;
    padding: 0 15px;
  }
  h2{
    font-family: $mont;
    font-weight: 300;
    font-size: 40px;
    color: $header-gray;
    margin: 60px 0;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}
