.buttonHomepage{
  width: 310px;
  height: 115px;
  background-color: white;
  color: black;
  font-family: $mont;
  font-size: 31px;
  font-weight: 300;
  text-align: center;
  margin-left: 8px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    margin: 0;

  }
  &:hover{
    transform: scale(1.05);
  }
  &.gallery{
    width: 290px;
    height: 95px;
    transition: 0.6s;
    font-size: 29px;
    &:hover{
      transform: scale(1.02);
    }
  }
}
