.navbar{
  background-color: black;
}

.navbar-brand{
  padding: 0;
}

.nav-item{
  margin-left: 8px;
  margin-right: 8px;
  font-family: $mont;
  color: white;
  font-size: 27px;
}

.mLikeMarketLogo{
  color: white;
  font-size: 30px;
}
