.buttonHomepage{
  width: 310px;
  height: 115px;
  background-color: white;
  color: black;
  font-family: $mont;
  font-size: 31px;
  font-weight: 300;
  text-align: center;
  margin-left: 14px;
  transition: 0.4s;
  p{
    padding: 35px 0;
    margin: 0;

  }
  &:hover{
    transform: scale(1.05);
  }
}
